<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Socket.IO and Flask Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
</head>
<body>
    <h1>Socket.IO and Flask Example</h1>
    <div id="message-container"></div>
    <input type="text" id="message-input" placeholder="Enter a message">
    <button id="send-button">Send</button>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('message', function(message) {
            console.log(message)
            var container = document.getElementById('message-container');
            container.innerHTML += '<p>' + message + '</p>';
        });

        document.getElementById('send-button').addEventListener('click', function() {
            var messageInput = document.getElementById('message-input');
            var message = messageInput.value;
            socket.emit('message', message);
            messageInput.value = '';
        });
    </script>
</body>
</html>
